DATABASE_URL=postgresql://neondb_owner:npg_zbTnt59kGIWM@ep-flat-rice-aheeft3r-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=854e62df04ce54d04746ea4a2ff92c89e4ac42277f47e62700cd902a50f85a32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DEBUG=False
